html, body {
  margin: 0;
}

body {
  position: absolute;
  padding: 50px;
  background: rgb(245,245,245);  /* matches Google+ gray */
  width: 600px;
  left: 50%;
  margin-left: -300px;
}

ul {
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
  background: yellow;
}
